#!/usr/bin/env xdg-open

[Desktop Entry]
Name=OpenToonz (Morevna Toolchain)
Exec=opentoonz
GenericName=Professional 2D animation software
Comment=Professional 2D animation software
Type=Application
Icon=morevnatoolchain-opentoonz
Categories=Qt;KDE;Graphics;
X-KDE-ExtraNativeMimeTypes=
StartupNotify=true
X-Desktop-File-Install-Version=0.23
MimeType=application/x-opentoonz;
