[Desktop Entry]
Type=Application
Name=Synfig (Morevna Studio)
GenericName=2D animation software
Exec=synfigstudio %U
Icon=morevnastudio-synfigstudio
Categories=Graphics;
X-Desktop-File-Install-Version=0.22
TryExec=synfigstudio
MimeType=application/x-sif;
